

<h1 align="center">404</h1>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>Страница, которую вы ищете, не существует, или у вас недостаточно прав.</h1>
    <p>Возможно введен неверный адрес, или страница перемещена.</p>
  </div>
