<!-- <h1>Sample App</h1>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Реги!", signup_path, :class => "signup_button round" %> -->
<h1>Добро пожаловать на мою страницу</h1>
<p align="center"><%= image_tag("1240082221751.svg", :alt => "kanst9", :class => "round") %><p>